fastapi==0.115.12
uvicorn[standard]==0.34.0
sqlalchemy==2.0.38
pydantic==2.10.6
pydantic-settings==2.7.1
python-dotenv==1.0.1

docling
langchain
langchain-openai
qdrant-client
langchain-text-splitters
