fastapi==0.115.12
uvicorn[standard]==0.34.0
sqlalchemy==2.0.38
pydantic==2.10.6
pydantic-settings==2.7.1
python-dotenv==1.0.1
python-multipart
psycopg2-binary

docling
langchain
langchain-openai
langchain-google-genai
qdrant-client
langchain-text-splitters
google-genai
